{% extends "site_base.html" %}

{% load account_tags %}
{% load compress %}
{% load i18n %}
{% load sitetree %}

{% block head_title %}{% trans "Presentation: " %}{{ presentation.title }}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(function () {
            var converter = new Attacklab.showdown.converter();
            $('.tutorial-comment').each(function() {
                $(this).html(converter.makeHtml($(this).html()));
            })
            $('.abstract').html(converter.makeHtml($('.abstract').html()));

        });
    </script>
{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}
    {% if presentation.slot %}
        <h4>
            {{ presentation.slot.day.date|date:"l" }}
            {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
        </h4>
    {% endif %}
    <h2>{{ presentation.title }}</h2>

    <h4>
        {% for speaker in speakers %}
            <a href="{% url 'speaker_profile' speaker.pk %}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </h4>

    <h3>{% trans "Description" %}</h3>

    <div class="description">{{ presentation.description }}</div>

    {% if presentation.abstract  %}
    <h3>{% trans "Abstract" %}</h3>

    <div class="abstract">{{ presentation.abstract|safe }}</div>
    {% endif %}

{% endblock %}
