sotmjpweb:
  image: miurahr/sotmjp-website:latest
  environment:
    - DB_ENGINE=postgresql_psycopg2
    - DB_USER=symposion
    - DB_PASSWORD=phathowvhsukeuwo
    - DB_NAME=sotmjp2015_staging
   ports:
    - "8000:8000"
  links:
    - postgresql:postgresql
postgresql:
  image: sameersbn/postgresql:9.4
  environment:
    - DB_USER=symposion
    - DB_PASS=phathowvhsukeuwo
    - DB_NAME=sotmjp2015_staging
  volumes:
    - /opt/postgresql/data:/var/lib/postgresql
