{% extends "venue/base.html" %}

{% load i18n %}
{% load sitetree %}
{% load leaflet_tags %}

{% block head_title %}{% trans "Venue Details" %}{% endblock %}
{% block extra_head %}
   {% leaflet_css %}
   {% leaflet_js %}
   <script type="text/javascript">
    function map_init_basic (map, options) {
        L.marker([35.661, 139.67775]).addTo(map);
    }
   </script>
{% endblock %}
{% block page_title %}{% trans "Venue Details" %}{% endblock %}

{% block body_class %}venue{% endblock %}

{% block body %}

<h1>東京大学 駒場リサーチキャンパス</h1>
<p>生産技術研究所 A棟 コンベンションホール</br>
〒153-8505 東京都目黒区駒場４−６−１</br>
<a href="http://www.iis.u-tokyo.ac.jp/access/campusmap.html">http://www.iis.u-tokyo.ac.jp/access/campusmap.html</a>
</p>

<img class="venue_direction" src="http://www.iis.u-tokyo.ac.jp/images/KRCmap1_2013.jpg"/>

<p class="intro">イベントおよび懇親会はすべて、この会場で実施します。</p>

{% leaflet_map "venue_map" callback="window.map_init_basic" %}
{% comment %}
<small><a href="https://openstreetmap.jp/map/#zoom=19&lat=35.66112&lon=139.67755&layers=B00" target="_blank">大きな地図で見る</a></small>
{% endcomment %}
<small><a href="http://www.openstreetmap.org/?mlat=35.66111&mlon=139.67756#map=17/35.66111/139.67756" target="_blank">大きな地図で見る</a></small>
{% endblock %}
