// Table of Contents

// -- Imports
// -- Fonts
// -- Variables
// -- Mixins
// -- Generic
// -- Buttons
// -- Homepage
// -- Sponsors
// -- Venue
// -- CMS Page
// -- Retina styles
// -- Auth pages
// -- Boxes
// -- Sign Up + Login
// -- Team
// -- Speaker profile
// -- Reviews
// -- Job fair
// -- Leaflet

/* Imports
==================== */
@import "bootstrap/bootstrap.less";

/* Fonts
==================== */
@import url(//fonts.googleapis.com/css?family=Lato:400,400italic,700,900);

body {
  padding-top: 70px;
}


// Leaflet
div.leaflet-container {  /* all maps */
    width:  700px;
    height: 900px;
}
